<div class="header">
  <p id="site_title">
    <%= link_to "snoWalker", snows_path %>
  </p>
  <div class="snow_users">
    <p class="sign_up">
      <%= link_to "新規登録", snows_path %>
    </p>
    <p class="log_in">
      <%= link_to "ログイン", snows_path %>
    </p>
  </div>
</div>
