<div class="wrapper">
  <%= render partial: "template/header" %>
  <div class="breadcrumb">
    <div class="breadcrumb_road">
      <%# - breadcrumb :mypage
      = breadcrumbs separator: " ＞ " %>
  </div>
  <%= render partial: "template/footer" %>
</div>
